.toggleBtn {
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid var(--ifm-color-primary);
  background-color: transparent;
  color: var(--ifm-color-primary);
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 20px;
  transition: all 0.2s;
}

.toggleBtn:hover {
  background-color: var(--ifm-color-primary);
  color: white;
}
